@import 'timeline';

body {
  color: #383838;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

.cd-horizontal-timeline .events a {
  font-size: 14px;
}

h1 {
  text-align: center;
}

#map svg {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #ccc;
}